psycopg2-binary==2.9.6
rpy2==3.5.13
pydantic==2.10.6
python-dotenv==1.0.0
black==23.1.0
pycryptodome==3.17
prefect[dask, shell, docker]==3.0.3
debugpy==1.8.1
sqlalchemy==2.0.38
sqlalchemy-hana==2.2.0
duckdb==1.2.1
httpx==0.27.2
PyJWT==2.10.1
pandas==2.2.2
numpy==2.0.0
ibis-framework[duckdb, postgres]==10.0.0
jsonpath-ng==1.7.0
sqlalchemy-bigquery==1.14.1
openai==0.28
