.variable-form-component {
  .variable-form {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
  }

  .u-padding-vertical--small {
    padding: 0.75em 0;
  }

  .variable-form__key-field {
    flex: 1;
    min-width: 150px;
  }

  .variable-form__value-field {
    flex: 2;
    min-width: 200px;
  }

  .trash-btn {
    position: absolute;
    right: -60px;
    top: 10px;
  }

  .form-error {
    color: var(--color-feedback-alarm);
  }
}
