@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~@d4l/web-components-library/dist/d4l-ui/d4l-ui.css';
@import './fonts';
@import './mri-variables';
@import './mri-bootstrap-variables';
@import './mixins';

.mri-app-vue-container {
  @import './mri-bootstrap';
  @include mriBaseStyle;
  height: 100%;
  // For alignment of the loading splash screen within PA wrapper
  position: relative;

  /*
    copied styles from the html and body portion of bootstrap's reboot.scss file
    since loading bootstrap inside the #app selector, the html and body portions are useless.
    This is done so we can use sapui5 together with bootstrap
  */
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 6
  margin: 0; // 1
}

// default theme
@import './button';
@import './binning';
@import './dialog';
@import './label';
@import './checkbox';
@import './configSelection';
@import './addCohort';
@import './bookmarkToolbar';
@import './chartToolbar';
@import './chartButton';
@import './patientCount';
@import './dropdown';
@import './skinnyDropdown';
@import './segmented-button';
@import './pdfExport';
@import './splitter';
@import './messageBox';
@import './app';
@import './patientListChart';
@import './search';
@import './searchFilters';
@import './v2Pager.scss';
@import './bookmark';
@import './advancedTimeFilter';
@import './toast';
@import './boxplot';
@import './chartController';
@import './chartErrorMessage';
@import './loadingAnimation';
@import './axisMenuButton';
@import './kaplanMeier';
@import './dropDownMenu';
@import './dropDownMenuItem';
@import './patientAnalytics';
@import './kmLegend';
@import './chartPopover';
@import './chartPopoverDrill';
@import './boxplotInfo';
@import './icon';
@import './library';
@import './link';
@import './kmStatistics';
@import './textbox';
@import './patientListControl';
@import './menuButton';
@import './range';
@import './variant-range';
@import './date';
@import './dateRange';
@import './boolContainer';
@import './boolFilterContainer';
@import './filtercard';
@import './constraint';
@import './filterCardSummary';
@import './filters';
@import './multiselect';
@import './pager';
@import './expandedFilters';
@import './filtersfooter';
@import './cohortCompare';
@import './tab-button';
@import './messageStrip';
@import './textInput';
@import './popover';
@import './helpPopover';

.sapUiTheme-sap_bluecrystal {
  @import './button';
  @import './binning';
  @import './dialog';
  @import './label';
  @import './checkbox';
  @import './configSelection';
  @import './addCohort';
  @import './bookmarkToolbar';
  @import './chartToolbar';
  @import './chartButton';
  @import './patientCount';
  @import './dropdown';
  @import './skinnyDropdown';
  @import './segmented-button';
  @import './pdfExport';
  @import './splitter';
  @import './messageBox';
  @import './app';
  @import './patientListChart';
  @import './search';
  @import './searchFilters.scss';
  @import './v2Pager.scss';
  @import './bookmark';
  @import './advancedTimeFilter';
  @import './toast';
  @import './boxplot';
  @import './chartController';
  @import './chartErrorMessage';
  @import './loadingAnimation';
  @import './axisMenuButton';
  @import './kaplanMeier';
  @import './dropDownMenu';
  @import './dropDownMenuItem';
  @import './patientAnalytics';
  @import './kmLegend';
  @import './chartPopover';
  @import './chartPopoverDrill';
  @import './boxplotInfo';
  @import './icon';
  @import './library';
  @import './link';
  @import './kmStatistics';
  @import './textbox';
  @import './patientListControl';
  @import './menuButton';
  @import './range';
  @import './variant-range';
  @import './date';
  @import './dateRange';
  @import './boolContainer';
  @import './boolFilterContainer';
  @import './filtercard';
  @import './constraint';
  @import './filterCardSummary';
  @import './filters';
  @import './multiselect';
  @import './pager';
  @import './expandedFilters';
  @import './filtersfooter';
  @import './cohortCompare';
  @import './tab-button';
  @import './messageStrip';
  @import './textInput';
  @import './popover';
  @import './helpPopover';
}

.sapUiTheme-sap_hcb {
  $UiGroupContentBorderColor: #ffffff;
  $UiBrand: #ffffff;
  $MriBrand: #ffffff;
  $MriPaletteRed: #ff4b14;
  $UiDarkestText: #ffffff;
  $UiDarkText: #ffffff;
  $UiMediumText: #ffffff;
  $UiLightText: #ffffff;
  $MriExtraLightText: #ffffff;
  $MriLightestText: #ffffff;
  $MriDarkerBorder: #ffffff;
  $UiDarkestBorder: #ffffff;
  $UiExtraDarkBorder: #ffffff;
  $UiDarkBorder: #ffffff;
  $UiMediumBorder: #ffffff;
  $UiLightBorder: #ffffff;
  $UiExtraLightBorder: #ffffff;
  $UiLightestBorder: #ffffff;
  $MriDarkerBorder: #ffffff;
  $UiDarkestBG: #000000;
  $UiExtraDarkBG: #000000;
  $UiDarkBG: #000000;
  $UiMediumBG: #000000;
  $UiLightBG: #000000;
  $UiExtraLightBG: #000000;
  $UiLightestBG: #000000;
  $MriLightHoverBG: #7a5100;
  $UiHighlight: #7a5100;
  $UiFocus: #ffffff;
  $MriTokenValidBG: #1790ce;
  $MriTokenValidNoDataBG: #d2e9f6;
  $MriTokenInvalidBG: #ff4b13;
  $MriTokenPendingBG: #bcbcbc;
  $MriTokenValidBorder: #243c7e;
  $MriTokenValidNoDataBorder: #1790ce;
  $MriTokenInvalidBorder: #333333;
  $MriTokenPendingBorder: #333333;
  $MriAccessabilityBoder: solid 1px #ffffff;
  $MriSelectListItemHoverableLight: #7a5100;
  $MriContrast: #000000;
  $MriBoxShadow: #ffffff;
  $MriBoxShadowGlow: 0.15;
  $MriDisabledText: #666666;
  $MriDropDownListItemSelected: #0f5d94;
  $LinkText: #ffffff;
  $CheckboxBorder: #ffffff;
  $SegmentedButtonText: #ffffff;
  $SegmentedButtonSelectedText: #ffffff;
  $MriButtonBorder: #ffffff;
  $MriButtonHover: #7a5100;
  $TableHeaderRowBG: #000000;
  $TableRowBG: #000000;
  $TableRowBorder: #2b2323;
  $TableBodyColor: #ffffff;
  $DialogBoxFooterBG: #000000;
  $DialogBoxFooterShadow: #000000;
  $DialogBoxFooterBtnEmphasizedBGColor: #000000;
  $DialogBoxFooterBtnTransparentBGColor: #000000;
  $DialogBoxFooterBtnAcceptBGColor: #000000;
  $DialogBoxFooterBtnDeclineBGColor: #000000;
  $DialogBoxFooterBtnTextLight: #ffffff;
  $DialogBoxFooterBtnTextDark: #ffffff;
  $DialogBoxFooterBorder: #ffffff;
  $FooterButtonTextLight: #ffffff;
  $FooterHoverButtonBackgroundColor: #7a5100;
  $FooterActiveButtonBackgroundColor: #000000;
  $FooterActiveButtonTextColor: #ffffff;
  $FooterBorder: #ebebeb;
  $MRICardHeaderBG: #000000;
  $MriButtonHoverDark: #7a5100;
  $MriHeaderTextDark: #ffffff;
  $FiltercardNewState: #7a5100;
  $DateErrorTextBG: #7a5100;
  $HoverBorder: #ebebeb;

  @import './button';
  @import './binning';
  @import './dialog';
  @import './label';
  @import './checkbox';
  @import './configSelection';
  @import './addCohort';
  @import './bookmarkToolbar';
  @import './chartToolbar';
  @import './chartButton';
  @import './patientCount';
  @import './dropdown';
  @import './skinnyDropdown';
  @import './segmented-button';
  @import './pdfExport';
  @import './splitter';
  @import './messageBox';
  @import './app';
  @import './patientListChart';
  @import './search';
  @import './v2Pager.scss';
  @import './bookmark';
  @import './advancedTimeFilter';
  @import './toast';
  @import './boxplot';
  @import './chartController';
  @import './chartErrorMessage';
  @import './loadingAnimation';
  @import './axisMenuButton';
  @import './kaplanMeier';
  @import './dropDownMenu';
  @import './dropDownMenuItem';
  @import './patientAnalytics';
  @import './kmLegend';
  @import './chartPopover';
  @import './chartPopoverDrill';
  @import './boxplotInfo';
  @import './icon';
  @import './library';
  @import './link';
  @import './kmStatistics';
  @import './textbox';
  @import './patientListControl';
  @import './menuButton';
  @import './range';
  @import './variant-range';
  @import './date';
  @import './dateRange';
  @import './boolContainer';
  @import './boolFilterContainer';
  @import './filtercard';
  @import './constraint';
  @import './filterCardSummary';
  @import './filters';
  @import './multiselect';
  @import './pager';
  @import './expandedFilters';
  @import './filtersfooter';
  @import './cohortCompare';
  @import './tab-button';
  @import './messageStrip';
  @import './textInput';
  @import './popover';
  @import './helpPopover';
  @import './alert';
}

.UiTheme_d4l {
  $MriBrand: #000080;
  $UiDarkestText: #000080;
  $UiDarkText: #000080;
  $UiLightText: #595757;
  $UiExtraLightBG: #f9f9f9;
  $MriTokenValidBG: #000080;
  $MriContrast: #000080;
  $MriDropDownListItemSelected: #ebf2f9;
  $UiHighlight: #ebf2f9;
  $MriButtonHover: #000080;
  $MriButtonHoverDark: #000080;
  $MriChartButtonHover: #f2f0f1;
  $MRICardHeaderBG: #ebf2f9;
  $MriHeaderTextDark: #000080;
  $MriHeaderTextLight: #585757;
  $MriNavTab: #000080;
  $MriHeaderBG: #ccdef1;
  $MriFooterBG: #000080;
  $MriFooterBG: #000080;
  $FooterButtonTextLight: #ffffff;
  $FooterHoverButtonBackgroundColor: #000080;
  $DialogBoxFooterBG: #000080;
  $TableHeaderRowBG: #f2f0f1;
  $TableRowBG: #f9f9f9;
  $TableBodyColor: #595757;
  $TabBarHeaderBG: #bbd1ed;
  $ToggleButtonLightBG: #ffd0ce;
  $ToggleButtonDarkBG: #000080;

  @import './button';
  @import './binning';
  @import './dialog';
  @import './label';
  @import './checkbox';
  @import './configSelection';
  @import './addCohort';
  @import './bookmarkToolbar';
  @import './chartToolbar';
  @import './chartButton';
  @import './patientCount';
  @import './dropdown';
  @import './skinnyDropdown';
  @import './segmented-button';
  @import './pdfExport';
  @import './splitter';
  @import './messageBox';
  @import './app';
  @import './patientListChart';
  @import './search';
  @import './searchFilters.scss';
  @import './v2Pager.scss';
  @import './bookmark';
  @import './advancedTimeFilter';
  @import './toast';
  @import './boxplot';
  @import './chartController';
  @import './chartErrorMessage';
  @import './loadingAnimation';
  @import './axisMenuButton';
  @import './kaplanMeier';
  @import './dropDownMenu';
  @import './dropDownMenuItem';
  @import './patientAnalytics';
  @import './kmLegend';
  @import './chartPopover';
  @import './chartPopoverDrill';
  @import './boxplotInfo';
  @import './icon';
  @import './library';
  @import './link';
  @import './kmStatistics';
  @import './textbox';
  @import './patientListControl';
  @import './menuButton';
  @import './range';
  @import './variant-range';
  @import './date';
  @import './dateRange';
  @import './boolContainer';
  @import './boolFilterContainer';
  @import './filtercard';
  @import './constraint';
  @import './filterCardSummary';
  @import './filters';
  @import './multiselect';
  @import './pager';
  @import './expandedFilters';
  @import './filtersfooter';
  @import './cohortCompare';
  @import './tab-button';
  @import './messageStrip';
  @import './textInput';
  @import './popover';
  @import './helpPopover';
  @import './alert';
}
